.chart-series-line {    
-fx-stroke-width: 1px;
}

.hiddenRowsCounter {
    -fx-text-fill: red;
    -fx-min-width: 15px;
    -fx-min-height: 15px;
    -fx-max-width: 25px;
    -fx-max-height: 17px;
    -fx-font-weight: bold;
}

.table-view .table-column {
    -fx-alignment: CENTER-LEFT;
}

.table-view *.scroll-bar:horizontal *.increment-button,
.table-view *.scroll-bar:horizontal *.decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.table-view *.scroll-bar:horizontal *.increment-arrow,
.table-view *.scroll-bar:horizontal *.decrement-arrow {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-shape: null;
}

.text-field.invalid {
    -fx-background-color: #eca4a4;
    -fx-border-color: #bc4949;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
}

.scroll-pane:selected {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.scroll-pane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.table-view:selected {
    -fx-faint-focus-color: -fx-box-border;
    -fx-focus-color: -fx-box-border;
    -fx-table-header-border-color: -fx-box-border;
}

.table-view:focused {
    -fx-faint-focus-color: -fx-box-border;
    -fx-focus-color: -fx-box-border;
    -fx-table-header-border-color: -fx-box-border;
}

.filterBox {
    -fx-faint-focus-color: #039ED322;
    -fx-focus-color: #039ED3;
}

.table-row-cell:filled:selected {
    -fx-background: -fx-control-inner-background ;
    -fx-background-color: -fx-table-cell-border-color, -fx-background ;
    -fx-background-insets: 0, 0 0 1 0 ;
    -fx-table-cell-border-color: derive(-fx-color, 5%);
}

.table-row-cell:odd:filled:selected {
    -fx-background: -fx-control-inner-background-alt;
}

.root {
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-ellipsis-string: "";
}

/** SVG icons by:
http://svgicons.sparkk.fr/ */
.icon {
    -fx-fill: #242829;
    -fx-stroke-width: 2;
    -fx-opacity: 55%;
}

.table-row-cell {
    -fx-pref-height: 2.2em;
}
